astroid==1.4.8
colorama==0.3.7
cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.4
django-bootstrap3==8.0.0
generateDS==2.24a0
gunicorn==19.6.0
HTMLParser==0.0.2
isort==4.2.5
lazy-object-proxy==1.2.2
matplotlib==1.5.3
mccabe==0.5.2
numpy==1.11.3
pygal==2.3.1
pygal-maps-world==1.0.2
pygame==1.9.2rc1
pylint==1.6.4
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
six==1.10.0
static3==0.7.0
wrapt==1.10.8
psycopg2>=2.6.1
